<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'enroll/jss/jquery.js' %}"></script>
    <script src="{% static 'enroll/jss/popper.js' %}"></script>
    <script src="{% static 'enroll/jss/bootstrap.js' %}"></script>
    <script></script>
  </head>
  <body>
    {% for cart in cart_view %}
    
    <div class="container">
      <div>
        <img src="{{cart.product.image.url}}" style="height: 100px" />
        <span
          style="color: red; cursor: pointer"
          onclick="cartProductRemove({{cart.id}})"
          >Remove</span>
      </div>
      <div class="container" id="bottom">
        <div id="editThisDiv">
          <div>
            <span >
              <button onclick="decreaseProduct({{cart.product.id}}),update_cart({{cart.product.id}})">
                <span>-</span>
              </button>
            </span>
            <span id="numberOfProduct{{cart.product.id}}">{{cart.quantity}}</span>
            <span>
              <button onclick="increaseProduct({{cart.product.id}}),update_cart({{cart.product.id}})">
                <span>+</span>
              </button>
            </span>
          </div>
    </div>
    {%endfor %}
  </body>
  <script>
    function cartProductRemove(id) {
      console.log(id);
      $.ajax({
        type: "GET",
        url: `/remove_cart_Product/${id}`,
        success: function (remove_category) {
          console.log("Data Deleted Successfully");
          //$(`#cat-${id}-${p_id}`).remove();
          location.reload();
        },
      });
    }
function increaseProduct(id) {
  let totalNumber = Number(document.getElementById(`numberOfProduct${id}`).innerText);
  if (totalNumber < 10){
  document.getElementById(`numberOfProduct${id}`).innerHTML = totalNumber += 1;
  }
  else{
    alert("each order maximum 10 quantity buy !!!!!!!!");
  }
}
function decreaseProduct(d_id) {
  let totalNumber = Number(document.getElementById(`numberOfProduct${d_id}`).innerText);
  if (totalNumber > 1) {
    document.getElementById(`numberOfProduct${d_id}`).innerHTML = totalNumber -= 1;
  }
}

function update_cart(id){
  console.log(id)
  let quantityProduct = Number(document.getElementById(`numberOfProduct${id}`).innerText);
  var token = '{{csrf_token }}'

  let data={'quantityProduct':quantityProduct}
  console.log(data)
  
  $.ajax({
    type: 'POST',
    url: `/update_cart_Product/${id}/`,
    headers: { "X-CSRFToken": token },
    data:data,
    success:function(update_cart_product){ 
    console.log("Data submitted Successfully")
    console.log("???",update_cart_product)
    if (update_cart_product == "not available"){
      var btnDiv = document.getElementById("editThisDiv")
      btnDiv.remove();
      const node = document.createElement("li");
      const textnode = document.createTextNode("Out of Stock");
      node.appendChild(textnode);
      document.getElementById("bottom").appendChild(node);
    }
    //$(`#cat-${id}-${p_id}`).remove();
  }
    });
}
  </script>
</html>
