<!DOCTYPE html>
{% load static %} {% load product_price%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'enroll/jss/jquery.js' %}"></script>
    <script src="{% static 'enroll/jss/popper.js' %}"></script>
    <script src="{% static 'enroll/jss/bootstrap.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    {% for cart in cart_view %}

    <div class="container">
      <div id="remove{{cart.product.id}}">
        <img src="{{cart.product.image.url}}" style="height: 100px" />
        <span>Price : {{cart.product.price}}</span>
        <span
          style="color: red; cursor: pointer"
          onclick="cartProductRemove({{cart.id}})"
          >Remove</span
        >
        <span id="product_price{{cart.product.id}}"
          >{{cart|product_price}}</span
        >
        <br />

        <span>
          <button onclick="update_cart({{cart.product.id}},'remove')">
            <span>-</span>
          </button>
        </span>
        <span id="numberOfProduct{{cart.product.id}}">{{cart.quantity}}</span>
        <span>
          <button onclick="update_cart({{cart.product.id}},'add')">
            <span>+</span>
          </button>
        </span>
      </div>
    </div>
    {%endfor %}
    <br />
    <button onclick="ProcessCheckout()">Process To CheckOut</button>

    <p id="checkoutTotal">{{total}}</p>
  </body>

  <script>
    {% comment %} function callCheckout(id) {
      var stripe = Stripe(
        "pk_test_51MHLavSHaSaa8XAPZpjWLVj6v3JtHCUCslsQ8rDmOcEv437SrMZ0jmKcm8QgeiqcwcnkQSWLnTtETdVj3m2caWGD00xn0vB6Bi"
      );
      var checkoutButton = document.getElementById("checkout-button");
      // Create a new Checkout Session using the server-side endpoint you
      fetch(`/create-checkout-session/?id=${id}`, {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    } {% endcomment %}
    function ProcessCheckout() {
      var totalAmount = document.getElementById("checkoutTotal").innerText;
      var token = "{{csrf_token }}";
      let data = { totalamount: totalAmount };
      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: "/confirm_order/",
        data: data,
        success: function (data) {
          console.log(data.id, "res");
          let id = data.id;
          //callCheckout(id);
        },
      });
    }

    function cartProductRemove(id) {
      $.ajax({
        type: "GET",
        url: `/remove_cart_Product/${id}`,
        success: function (remove_category) {
          console.log("Data Deleted Successfully");
          //$(`#cat-${id}-${p_id}`).remove();
          location.reload();
        },
      });
    }

    function increaseProduct(id) {
      let totalNumber = Number(
        document.getElementById(`numberOfProduct${id}`).innerText
      );
      if (totalNumber < 10) {
        document.getElementById(`numberOfProduct${id}`).innerHTML =
          totalNumber += 1;
      } else {
        alert("each order maximum 10 quantity buy !!!!!!!!");
      }
    }
    function decreaseProduct(d_id) {
      let totalNumber = Number(
        document.getElementById(`numberOfProduct${d_id}`).innerText
      );
      if (totalNumber > 1) {
        document.getElementById(`numberOfProduct${d_id}`).innerHTML =
          totalNumber -= 1;
      }
    }

    function update_cart(id, add) {
      let quantityProduct = Number(
        document.getElementById(`numberOfProduct${id}`).innerText
      );
      var token = "{{csrf_token }}";
      let data = { quantityProduct: quantityProduct, add: add };

      $.ajax({
        type: "POST",
        url: `/update_cart_Product/${id}/`,
        headers: { "X-CSRFToken": token },
        data: data,
        success: function (not_available) {
          var qtyy = parseInt(not_available.qty);
          var price = parseInt(not_available.price);
          var final_price = qtyy * price;
          $(`#product_price${id}`).html(final_price);
          var totalData = parseInt(not_available.total);

          if (add == "add") {
            var final_total = totalData + price;
          } else {
            var final_total = totalData - price;
          }
          $("#checkoutTotal").html(final_total);
          $(`#numberOfProduct${id}`).html(not_available.qty);
          if (not_available != "not available") {
            increaseProduct(id);
            decreaseProduct(id);
          } else {
            alert(not_available);
          }
          if (not_available.msg == "not in stock") {
            console.log("????");
            var remove_item = document.getElementById(`remove${id}`);
            remove_item.remove();
            var qtyy = parseInt(not_available.qty);
            var price = parseInt(not_available.price);
            var final_price = qtyy * price;
            $(`#product_price${id}`).html(final_price);
            $(`#numberOfProduct${id}`).html(not_available.qty);
            var prc = totalData - price;
            console.log("epty", price);
            console.log("epty", totalData);
            console.log("epty", parseInt(prc));
            $("#checkoutTotal").html(prc);
          }
        },
      });
    }
  </script>
</html>
