<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E commerce</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'enroll/jss/jquery.js' %}"></script>
    <script src="{% static 'enroll/jss/popper.js' %}"></script>
    <script src="{% static 'enroll/jss/bootstrap.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form class="row g-3" method="POST" enctype="multipart/form-data">
          <h1 align="center">Edit Profile</h1>
          {% csrf_token %}
          <div class="container mt-3">
            <center>
              {% if user.logo %}
              <img src="{{ user.logo.url }}" alt="" width="304" height="236" />
              {% else %}
              <img
                src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png "
                class="rounded-circle"
                alt=""
                width="304"
                height="236"
              />
              {% endif %} {{edit_form.logo}}
            </center>
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Username</label>
            {{form.username}} {% if edit_form.errors.username %}
            <label class="text-danger">{{edit_form.errors.username}}</label>
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Email</label>
            {{form.email}} {% if edit_form.errors.email %}
            <label class="text-danger">{{edit_form.errors.email}}</label>
            {% endif %}
          </div>
          <div class="col-12">
            <center>
              <button type="submit" class="btn btn-primary">Update</button>
            </center>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
