<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E commerce</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'enroll/jss/jquery.js' %}"></script>
    <script src="{% static 'enroll/jss/popper.js' %}"></script>
    <script src="{% static 'enroll/jss/bootstrap.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form class="row g-3" method="POST" enctype="multipart/form-data">
          <h1 align="center">Signup</h1>
          {% csrf_token %}
          <div class="col-md-6">
            <label for="" class="form-label">Username</label>
            {{form.username}} {% if form.errors.username %}
            <label class="text-danger">{{form.errors.username}}</label>
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Email</label>
            {{form.email}} {% if form.errors.email %}
            <label class="text-danger">{{form.errors.email}}</label>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Upload Logo </label>
            {{form.logo}}
          </div>
          <div class="col-12">
            <center>
              <button type="submit" class="btn btn-primary">Register</button>
            </center>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
