<!DOCTYPE html>
{% load static %}

{% load filtertags %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E commerce</title>
    <link rel="stylesheet" href="{% static 'enroll/css/product.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'enroll/jss/jquery.js' %}"></script>
    <script src="{% static 'enroll/jss/popper.js' %}"></script>
    <script src="{% static 'enroll/jss/bootstrap.js' %}"></script>
    <style>
    .stock{
      color: green;
}        
.Discounted_price
{
  color: red;
}             
</style>
</head>
  <body>
    <div class="container">
      <div class="card">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="preview col-md-6">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                  <img src="{{product.image.url}}" />
                </div>
              </div>
            </div>
            <center>
              <div class="details col-md-6">
                <h3 class="product-title">{{product.name}}</h3>

                <p class="product-description">{{product.description}}</p>
                
                <h4 class="price">
                 Discounted price <span>{{product|showdiscountprice}}</span>
                </h4>
                <h4 class="price">
                  Original price: <span>{{product.price}}</span><br>
                 
                 
                  <div class="Discounted_price">
                  ({{product.discount_percentage}}% off)
                  </div>
                </h4>
                {% if  product.stock_quantity > 0 %}
                <p class="vote">
                  <h1 class="stock"> Available Stock </h1>
                </p>
                {% else %}
                <p class="vote">
                  <h1 class="stock"> Out Of Stock </h1>
                </p>
                {% endif %}

                <div class="action">
                  <button class="add-to-cart btn btn-default" type="button" id="addcart" onclick=addToCart({{product.id}})>
                    Add to Cart
                  </button>
                <a href="{% url 'update_product' product.id %}">Update</a>
                <a href="{% url 'delete_product' product.id %}">Delete</a>
                
              </div>
              </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  </body>

<script>
function addToCart(id){

$.ajax({
    type: 'GET',
    url: `/cart_product/${id}/`,
    success:function(cart_product){ 
      console.log("Id Send Successfully")
    }
    }); 
}

</script>

  </html>
